*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.all{
    /* background-image: url(im1.jpg);  */
    width: 100%;
    height: 100%;
    background-size: cover;
}
.form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 30px 30px 5px 30px;
    box-shadow: 0px 5px 20px 10px rgba(0,0,0,2);
}
header{
    font-size: 30px;
    font-weight: 600;
}
.form{
    margin: 40px 0;
}
.field{
    width: 100%;
    margin-bottom: 20px;
}
input{
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 -15px;
    padding-left: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #34495e;
    border-bottom-width: 2px;
}
input::placeholder{
    color: #000000;
    font-size: 17px;
}
.radio_btn{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: 400;
}
input[type="radio"]{
    width: 25px;
    height: 25px;
    margin: 0,10px;
}
button[type="submit"]{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    border: none;
    /* background: #34495e; */
    /* color: #fff; */
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2rem ease;
}
button[type="submit"]:hover{
    background: #333867;
}

